body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0;
}

a:link {
    text-decoration: none;
    font-size: medium;
}

a:visited {
    color: black;
    text-decoration: none;
    font-size: medium;
}

a:hover {
    text-decoration: none;
    color: darkgoldenrod;
}

a:active {
    text-decoration: none;
    color: grey;
}

.head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 25vh;
    padding-right: 15vh;
    height: 10vh;
}

.navigation {
    display: flex;
    width: 70%;
    justify-content: flex-end;
    padding-left: 10%;
}

#water {
    padding-left: 5vh;
}
#resume {
    padding-left: 5vh;
}


.title {
    color: darkgoldenrod;
    font-size: xx-large;
}

.projectsDropdown {
    display: inline-block;
    position: relative;
}

.dropdownContent {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.projectsDropdown:hover .dropdownContent {
    display: block;
}

.dropdownContent a {
    display: block;
    color: darkgoldenrod;
    background-color: white;
    padding: 10px;
    text-decoration: none;
    font-size: small;
}

.dropdownContent a:hover {
    color: white;
    background-color: darkgoldenrod;
    font-size: small;
}


/* main.html */
.content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.home {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100%;
    padding-bottom: 15vh;
}

.caption {
    padding-left: 10vh;
}

.mainTable {
    position: relative;
    text-align: center;
    width: 100%;
}

.projectsMain {
    font-size: xx-large;
    text-align: center;
}

.joji {
    height: 45vh;
    border-radius: 20px;
}

.joji:hover {
    height: 40vh;
}

.interactables {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headshot {
    border-radius: 100px;
    height: 30vh;
}

/* projects.html */


/* contact.html */
.back {
    padding-left: 50px;
    padding-top: 25px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

#contactForm {
    height: 50vh;
    text-align: center;
    padding: 25px;
    background-color: bisque;
    border-radius: 16px;
    box-shadow: 15px;
}

#firstName {    
    width: 90%;
}

#lastName {
    width: 90%
}

#email {
    width: 95%;
    margin-top: 25px;
}

#message {
    width: 95%;
    margin-top: 25px;
    height: 10vh;
}

#submit {
    margin-top: 25px;
    background-color: darkgoldenrod;
    border-radius: 16px;
    color: white;
}

/* Water Form */
.water-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#option {
    padding-top: 5vh;
}

#submitWater {
    margin-top: 25px;
    background-color: darkgoldenrod;
    border-radius: 16px;
    color: white;
}

/* thankyou.html */
.thankyou {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}