body {
    height: 100vh;
    margin: 0px;
    background-color: white;
    padding-top: 25px;
}

a:link {
    color: darkgoldenrod;
    text-decoration: none;
    font-size: medium;
}

a:visited {
    text-decoration: none;
    color: darkgoldenrod;
    font-size: medium;
}

a:hover {
    text-decoration: none;
    color: bisque;
    font-size: small;
}

a:active {
    text-decoration: none;
    color: grey;
    font-size: medium;
}

h2 {
    color: darkgoldenrod;
}

.head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: sticky;
    padding-left: 25vh;
    padding-right: 15vh;
    height: 10vh;
}

.navigation {
    display: flex;
    width: 70%;
    justify-content: space-around;
    padding-left: 10%;
}

.title {
    color: darkgoldenrod;
    font-size: xx-large;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* main.html */
.mainTable {
    padding: 25px;
    text-align: center;
}

.joji {
    width: 100%;
}

/* aboutme.html */


/* projects.html */


/* resume.html */
